<h1>Register an Organizer!</h1>
<%= form_for @organizer do |f|%>
<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :password %>
<%= f.password_field :password %><br>

<%= f.submit "Register Organizer"%>
<% end %>
