<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
      </ul>
      <% if user_logged_in? %>
        User: <%= User.find(session[:user_id]).name %>
      <% elsif organizer_logged_in? %>
        Organizer: <%= Organizer.find(session[:organizer_id]).name %>
      <% else %>
      <% end %>

      <%= button_to "Log Out", "/logout"%>
    </nav>
  </div>
</header>
